# Copy this file to .env and adjust as needed.

# Container image to build and push (repository + image name, no tag)
IMAGE=containeryard.evoforge.org/gmdev/platform/cortana-backend
#IMAGE=ghcr.io/nathanjskelton/alertviewer-backend

# Container tool to use
CONTAINER_CMD=docker
#CONTAINER_CMD=podman
